.bg_color {
  background-color: var(--background-color);
}

.container {
  margin: auto;
  width: var(--content-width);
  min-height: 100vh;
}

.nav_container {
  min-height: var(--nav-height);
}

.content_container {
  min-height: var(--content-height);
  padding-bottom: var(--content-padding);
}

.footer_container {
  min-height: var(--footer-height);
}
