/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {
  --highlight: #0EB99B;
  --primary-words: #9BA4B5;
}

* {
  padding: 0;
  margin: 0;
  color: var(--primary-words);
}

a {
  text-decoration: none;
  color: inherit;
}
