/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {
  --highlight: #0EB99B;
  --primary-words: #9BA4B5;
  --untyped-words: #5D626C;
  --yellow: #ebe002;
  --background-color: #20262E;
  --nav-height: 15vh;
  --content-height: 70vh;
  --content-padding: 10vh;
  --footer-height: 5vh;
}

* {
  padding: 0;
  margin: 0;
  color: var(--primary-words);
}

a {
  text-decoration: none;
  color: inherit;
}

.base_button {
  background-color: transparent;
  padding: 0.5rem;
  border-style: solid;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
