.container {
  margin: auto;
  min-height: var(--content-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.token_container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  column-gap: 1rem;
  justify-content: center;
}

.token_label {
  font-size: 2rem;
}

.token {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
}

.table {
  min-width: 80%;

  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;

  th,
  td {
    text-align: center;
    padding-inline: 1rem;
  }

  tr {
    box-shadow: 0px 1px 0px 0px var(--primary-words);
    height: 1.5lh;
    font-size: 1.5rem;

    &:last-child {
      box-shadow: none;
    }
  }
}

.button_container {
  display: flex;
  padding-top: 1rem;
  column-gap: 10rem;
}

.me {
  font-weight: bold;
  color: var(--highlight);
}

.lobby_title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-words);
}

.players_header {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-words);
}

.countdown {
  font-size: 1.5rem;
}

.countdown_hidden {
  font-size: 1.5rem;
  visibility: hidden;
}

.highlight {
  color: var(--highlight);
  font-weight: bold;
}
