.graph_container {
  height: fit-content;
  width: fit-content;
  min-width: 100%;
  min-height: 15rem;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  // using center messes with the table layout
  align-items: flex-start;
  justify-content: start;
  overflow-x: auto;
}

@media (max-width: 1024px) {
.graph_container {
  height: fit-content;
  max-width: 90vw;
  min-height: 15rem;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  overflow-x: auto;
}
}

.table {
  width: auto;
  min-width: 100%;
  table-layout: auto;
  font-size: 1.5rem;
  border-collapse: collapse;
}

.table th, .table td {
  padding-inline: 1.5rem ;
  text-align: left;
  white-space: nowrap;
  min-width: max-content;
}

.table th {
  border-bottom: 2px solid var(--muted);
  padding-bottom: 0.5rem;
}

.table tr:first-child {
  border-style: solid;
  border-top: 2px solid var(--muted);
  border-inline: 2px solid var(--muted);
  border-bottom: 2px solid var(--primary-words);
}

.refresh_button {
  position: absolute;
  right: calc((100% - var(--content-width)) / 2);
  padding: 0.3rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;

    path {
      stroke: var(--yellow);
      stroke-width: 2px;
    }
  }
}

.placeholder_text {
  display: block;
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
  color: var(--muted);
  font-size: 1.5rem;
}

.is_current_user {
  color: var(--highlight);
  font-weight: bold;
}