.typing_container {
  font-family: monospace;
  font-size: 24px;
  padding: 20px;
  display: grid;
  outline: none;
}

.target_text {
  color: #808080;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.behind_cursor {
  color: var(--background-color);
  position: relative;
  z-index: 3;
}

.correct {
  color: #4ec9b0;
  position: relative;
  z-index: 3;
}

.cursor {
  font-weight: bold;
  display: inline-block;
  position: absolute;
  width: 0.9rem;
  height: 1.2em;
  background-color: #adb2d4;
  margin-left: 0px;
  vertical-align: middle;
  border-radius: 2px;
  z-index: 2;
}

.text_area {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: 1/1;
  z-index: 1;
}
